.container-jogo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("/src/imagens/wall.png");
}

.menu-topo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: black;

    color: white;
    border-bottom: 5px solid #ffd900;
}

.painel{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: rgb(69, 206, 160);
}

.inimigo {
    background-image: url(/src/imagens/ralph.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-vidas {
    display: flex;
    align-items: center;
}

.numero {
    margin-top: 10px;
}